.creator {
    font-family: 'Roboto', sans-serif;
    display: flex;
    background: black;
    align-items: center;
    justify-content: space-between;
    height: 1075px;
}

.creator__title {
    color: #ffffff;
    font-size: 48px;
    width: 400px;
}

.creator__content {
    margin-top: -30%;
}

.creator__span {
    color: blue;
}

.creator__description {
    color: #958A8A;
    font-size: 18px;
    width: 400px;
}

.creator__button {
    border: none;
    border-radius: 105px;
    background-color: #0033FF;
    color: #ffffff;
    font-size: 12px;
    height: 37px;
    margin-top: 40px;
}

.creator__title-card {
    color: #ffffff;
}

.creator__subtitle-card {
    color: #ffffff;
}

.creator__description-card {
    color: #ffffff;
}

.creator__img {
    position: absolute;
    width: 1074px;
    height: 1075px;
    transform: translate(46%, -5%);
    z-index: 0;
}

.creator__square {
    width: 290px;
    height: 216px;
    background-color: #202020;
}

.creator__item-0 {
    margin-top: 3500px;
    padding-left: 0px;
}

.card__creator__1 {
    width: 290px;
    height: 216px;
    top: 3500px;
    left: 643px;
    border-radius: 3px;
    background: #202020;


}

.card__creator__1__ob {
    margin-top: -40%;
    z-index: 1;
}

.title__card__1 {
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
    line-height: 108%;
    letter-spacing: 0%;


}

.card__creator__2 {
    width: 290px;
    height: 216px;
    top: 3500px;
    left: 643px;
    border-radius: 3px;
    background: #202020;


}

.card__creator__2__ob {
    margin-top: -40%;
    padding-right: 10%;
    z-index: 1;
}

.title__card__2 {
    color: #ffffff;

    font-weight: 400;
    font-size: 18px;
    line-height: 108%;
    letter-spacing: 0%;

}

.card__creator__3 {
    width: 290px;
    height: 216px;
    top: 3500px;
    left: 643px;
    border-radius: 3px;
    background: #202020;


}

.card__creator__3__ob {
    margin-top: 0%;
    position: absolute;
    margin-left: 32%;
    z-index: 1;
}

.title__card__3 {
    color: #ffffff;

    font-weight: 400;
    font-size: 18px;
    line-height: 108%;
    letter-spacing: 0%;

}

.card__creator__4 {
    width: 290px;
    height: 216px;
    top: 3500px;
    left: 643px;
    border-radius: 3px;
    background: #202020;


}

.card__creator__4__ob {
    margin-top: 0%;
    position: absolute;
    margin-left: 49%;
    z-index: 1;
}

.title__card__4 {
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
    line-height: 108%;
    letter-spacing: 0%;
}

.img__card__1 {
    width: 40px;
    height: 40px;
    margin-top: 10%;
    left: 671px;
    padding-right: 60%;
    
}

.title__name {
    color: #ffffff;
    margin-top: -15%;
}

